<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title><%= @page_name %></title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/Footer-Dark-icons.css">
    <link rel="stylesheet" href="/js/jquery.dropdown.min.css">
    <link rel="stylesheet" href="/assets/font/bootstrap-icons.min.css">
    <script src="/js/jquery-3.7.1.min.js"></script>
</head>

<body>
    <div class="container">
        <div class="row text-center">
            <div class="col-md-12 align-self-center" style="background: #b6cff4;border-radius: 13px;">
                <h2 class="text-center" style="color: rgb(44,85,128);"><%= @page_name %></h2>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="hstack gap-3">
            <span class="p-1">
                <a href="/">главная</a>
            </span>
            <span>|</span>
            <span class="p-1">
                <a href="/repos">git-репозитории</a>
            </span>
            <span>|</span>
            <span class="p-1">
                <a href="/projs">проекты</a>
            </span>
            <span>|</span>
            <span class="p-1">
                <a href="/recips">рецепты</a>
            </span>
            <span>|</span>
            <span class="p-1">
                <a href="/rpms">rpm-пакеты</a>
            </span>
            <span>|</span>
            <span class="p-1">
                <a href="/bldcfg">build-окружения</a>
            </span>
            <span>|</span>
            <span class="p-1">
                <a href="/builds">сборки</a>
            </span>
        </div>
    </div>
    <div class="container">
        <div style="padding-top: 45px;"></div>
    </div>